@import '$assets/scss/main.scss';

.wrapper {
  background-color: $primary-green;
}

.tab-line {
  border-bottom: 1px solid $secondary-green;
  margin-top: -2.5px;
}

.tab-content-wrapper {
  margin-top: 2rem;
  padding-bottom: 10rem;
  padding-top: 2rem;
}

.top-songs-pane {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $white;
}

.how-it-works-pane {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: $secondary-white;
}

.panel-header {
  font-size: $title;
  font-family: Montserrat;
  font-weight: bold;
  &.panel-header-dark {
    color: $tertiary-gray;
  }
}

.never-stop-panel {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(93.01deg, $secondary-green 0.83%, $secondary-blue 100%);
}

.thanks-panel {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: $white;
}

.marketing-footer {
  height: 8rem;
  border-top: 1px solid $light-gray;
  background-color: $white;
}
