@import '$assets/scss/main.scss';

.wrapper {
    position: relative;
    width: 150px;
    cursor: pointer;
    
    .cover {
        width: 150px;
        aspect-ratio: 27/40;
        object-fit: cover;
        object-position: center;
    }

    .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 45px;
        width: 45px;
    }
}