@import '$assets/scss/main.scss';

.wrapper {
    position: relative;
    width: 150px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    
    .cover {
        width: 150px;
        aspect-ratio: 27/40;
        object-fit: cover;
        object-position: center;
    }

    .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 45px;
        width: 45px;
    }
}

.wrapper:hover {
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transform: scale(1.2);
    z-index: 5;
    border-radius: 5px;
}