@import '$assets/scss/main.scss';

.wrapper {
  height: 240px;
}

.contentWrapper {
  position: relative;
  z-index: $z-index-lift;
}

.coverWrapper {
  height: 200px;
  position: relative;
}

.playerWrapper {
  height: 40px;
  padding: 5px 2rem;
  background-color: $primary-blue;
}

.playerNameWrapper {
  color: $white;
}

.playerAvatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  color: $white;
  text-shadow: 2px 2px $secondary-black;
}

.artistName {
  margin-top: 1rem;
  color: $white;
  text-shadow: 2px 2px $secondary-black;
  margin-bottom: 0.5rem;
  line-height: 0;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $z-index-lift;
}

.controlWrapper {
  padding: 2rem;
}

.icon {
  height: 15px;
}

.playIcon {
  height: 30px;
}

.headerIcon {
  height: 20px;
}
