@import '$assets/scss/main.scss';

.custom-btn {
  background-color: transparent;
  border: 0;
  &:focus {
    outline: none;
  }
}

.mk-btn {
  height: 40px;
  border-radius: 42px;
  min-width: 140px;
  border: 0;
  background-color: $secondary-green;
  border: 1px solid $secondary-green;
  color: $white;
  justify-content: center;
  &:focus {
    outline: none;
  }
  &.mk-btn-transparent {
    background-color: transparent;
  }
  &.mk-btn-square {
    border-radius: 5px;
  }
  &.mk-btn-stretch {
    width: 100%;
  }
  &.no-width {
    width: auto;
  }
  &.no-border {
    border: none;
  }
}

.mk-btn-border-white {
  border: 1px solid $white;
}

.mk-btn-primary {
  color: $secondary-green;
}

.mk-btn-secondary {
  background-color: $tertiary-blue;
  border: none;
  &.mk-btn-transparent {
    color: $tertiary-blue;
  }
}
