@import '$assets/scss/main.scss';

.onboardingWrapper {
  min-height: 100vh;
  width: 100%;
  background-color: $primary-green;
  
}


.error {
  background-color: $error-color !important;
  color: white !important;
}