@import '$assets/scss/main.scss';

.onboarding-wrapper {
  height: 100vh;
  width: 100%;
  background-color: $primary-green;
}

.onboarding-content {
  margin-top: 80px;
}

.onboarding-menus {
  border-bottom: 4px solid $secondary-green;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.onboarding-header-wrapper {
  padding: 1rem 2rem;
  width: 60%;
}

.onboarding-header {
  font-family: Montserrat;
  font-weight: 500;
  font-size: $heading;
  color: $white;
}

.onboarding-menu {
  height: 130px;
  width: 130px;
  background-color: $white;
  margin-left: 10px;
  margin-bottom: 10px;
  color: $secondary-gray;
  &.active {
    background-color: $secondary-green;
    color: $white;
  }
}

.onboarding-menu-image {
  height: 75px
}
