@import '$assets/scss/main.scss';

.feature-wrapper {
  position: relative;
  min-height: 185px;
  min-width: 300px;
  max-width: 450px;
  height: 100%;
  margin-left: 1rem;
  margin-bottom: 1rem; 
  background-color: $dark-gray;
}

.feature-content-wrapper {
  height: 40%;
  width: 100%;
  bottom: 0;
}

.feature-action-btn {
  height: 30px;
}

.feature-summary {
  color: $white;
  margin: 5px;
}

.feature-pane {
  position: absolute;
  z-index: $z-index-lift;
  bottom: 0;
  align-items: flex-end;
  padding: 0.5rem 1rem;
}
