@import '$assets/scss/main.scss';

.wrapper {
    position: relative;
    height: 240px;
    width: 162px;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    img.cover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}