@import '$assets/scss/main.scss';

.facebookButton {
    all: unset;
    background: #3b5998;
    width: 100%;
    color: white;
    border-radius: 9999px;

    img {
        height: 39px;
        margin-right: 10px;
    }

    &::disabled {
        background: rgba(#3b5998, 0.75);
    }
}