@import '$assets/scss/main.scss';
.auth-alert {
    width: 100%;
    top: 0;
    color: $white;
    padding: 20px 20px;
    &.auth-alert-success {
        background-color: $success-color;
    }
    &.auth-alert-danger {
        background-color: $error-color;
    }
}