.album-menu {
  height: 150px;
  width: 200px;
  margin-right: 1.6rem;
  margin-bottom: 1rem;
}

.album-menu-avatar {
  user-select: none;
  -webkit-user-drag: none;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}
