@import '$assets/scss/main.scss';
.tabMenu {
    color: $black;
    font-family: Roboto;
    font-size: $heading;
    border: none;
    background-color: transparent;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    &:focus {
        outline: none;
    }
    text-transform: uppercase;
    border-radius: 2rem;
}

.tabMenuActive {
    background-color: #C082FD;
    font-size: $heading;
}

.activeTabMenu {
    background-color: $secondary-green;
    height: 5px;
    border-radius: 5px;
}

.mobile {
    width: 100%;
    max-width: 360px;
}