@import '$assets/scss/main.scss';
.formTextAreaWrapper {
    width: 100%;
    font-size: 14px;
    color: $secondary-black;
    height: 120px;
    overflow: hidden;
    margin: 8px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
}

.formTextArea {
    background-color: transparent;
    padding: 5px 20px;
    width: 100%;
    height: 100%;
    border: none;
    &:focus {
        outline: none;
    }
}

.textareaGrey {
    background-color: #818181 !important;
    color: white;
}

.textareaGrey::placeholder {
    color: white;
}