@import '$assets/scss/main.scss';

.container {
  position: relative;
  min-height: 100%;
  padding: 1rem 2rem 1rem 2rem;
}

.wrapper {
}

.tabsWrapper {
  margin-bottom: 2rem;
}

.bubbleWrapper {
  margin-right: 3rem;
}

.bubble {
  height: 114px;
  width: 114px;
  border-radius: 50%;
  background-color: $secondary-green;
  color: $white;
  font-size: 3rem;
}

.bubbleTitle {
  color: #FFF;
  font-size: 1.5rem;
}

.titleBorder {
  background-color: $secondary-green;
  height: 8px;
  width: 4rem;
}

.title {
  color: #FFF;
  font-size: 4rem;
}

.dataWrapper {
  margin-top: 5rem;
}
