@import '$assets/scss/main.scss';

.header-wrapper {
  padding: 2.8rem 0;
}
.header-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: $title;
  color: $secondary-green;
}
.header-panel {
  flex: 1;
}
