@import '$assets/scss/main.scss';
.heroWrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/images/background.png');
    background-size: cover;
    background-position: center;
}

.heroHeading {
    font-family: Poppins;
    font-weight: 700;
    font-size: $heading;
    color: $primary-gray;
}

.heroSubHeading {
    color: $secondary-gray;
}