@import '$assets/scss/main.scss';

.heroWrapper {
  display: flex;
  flex: 1;
  height: 280px;
}

.heroHeading {
  font-family: Poppins;
  font-weight: 700;
  font-size: $heading;
  color: $primary-gray;
}

.heroSubHeading {
  color: $secondary-gray;
}

.heroSliderLoader {
  height: '300px';
  background: blue;
}

.sliderWrapper {
  animation-name: displaySlider;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
}

@keyframes displaySlider {
  from {
    transform: translate(-100%, 0) scale(0);
  }
  to {
    transform: translate(0,0) scale(1);
  }
}