@import '../../../assets/scss/main.scss';

.hero-wrapper {
  display: flex;
  flex: 1;
  height: 280px;
}

.hero-heading {
  font-family: Poppins;
  font-weight: 700;
  font-size: $heading;
  color: $primary-gray;
}

.hero-sub-heading {
  color: $secondary-gray;
}
