@import '../index.module.scss';

.tile {
    background: rgba($color: $black, $alpha: 0.5);
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;

    h2 {
        font-size: medium;
    }
}