@import '$assets/scss/main.scss';

.content {
  width: 100%;
  height: 100%;
  background-color: $primary-green;
  padding: 1rem 2.5rem;
  overflow-x: hidden;
}

.home-tabs-wrapper {
  margin-top: 9rem;
  margin-bottom: 2rem;
}

.home-heading {
  font-family: Montserrat;
  font-weight: 700;
  font-size: $heading;
  color: $secondary-green;
}

.home-footer {
  position: absolute;
  z-index: $z-index-next;
  width: 100%;
  bottom: 0;
}
