@import '$assets/scss/main.scss';

.phone-mk-image {
  height: 400px;
  margin-right: 4rem;
}

.app-download-wrapper {
  background-color: $white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  height: 500px;
}

.app-download-header {
  color: $primary-blue;
}

