@import '$assets/scss/main.scss';
@import '$assets/scss/general.scss';

$animation_time: 0.5s;

.content {
    display: inline-block;
    width: calc(100% - 220px);
    background-color: #323232;
    overflow-x: hidden;
    transition: all $animation_time linear;
    height: 100vh;

    @media only screen and (max-width: 768px) { 
        width: 100%;
    }
}

.sideMenuWrapper {
    display: inline-block;
    width: 220px;
    transition: all $animation_time linear;
    height: 100vh;

    @media only screen and (max-width: 768px) { 
        display: none;
    }
}

.hideSideMenu {
    width: 0;
    // position: absolute;
    // transform: translateX(20px);
    transition: all $animation_time linear;
}

.expandContent {
    width: 100% !important;
    transition: all $animation_time linear;
}

///////////////// ADD /////////////////////
.content::-webkit-scrollbar {
    width: 15px;
}

.content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
    background: #333;
    border: 1px solid black;
    border-radius: 20px;
}

.content::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.content::-webkit-scrollbar-corner {
    background: transparent !important;
}

///////////////// END ////////////////////

.sideMenuMobile {
    display: none;
    @media only screen and (max-width: 768px) {
        display: block;
        position: absolute;
        top: 70px;
        height: 0;
        width: 100%;
        z-index: $z-index-last + 10;
        overflow: hidden;
        transition: transform $animation_time cubic-bezier(0.77, 0.2, 0.05, 1.0), background $animation_time cubic-bezier(0.77, 0.2, 0.05, 1.0), height 0.5s ease;
    }
}

.sideMenuActive {
    height: 100%;
}

.homeFooter {
    position: fixed;
    z-index: $z-index-last;
    width: 100%;
    bottom: 0;
    transition: all $animation_time;
}

.hideFooter {
    bottom: -55px;
}

.homeFooter:hover {
    bottom: 0;
}