@import '$assets/scss/main.scss';

.container {
  display: flex;
  position: relative;
  height: 300px;
  width: 100%;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.titleWrapper {
  flex: 1;
}

.heading {
  font-size: $title;
  color: $white;
}
