@import '$assets/scss/main.scss';

.menu-btn {
  background: transparent;
  border: 0;
  justify-content: center;
  margin: 0 .8rem;
  &:focus {
    outline: none;
  }
}

.menu-text {
  font-family: Poppins;
  color: $secondary-green;
  font-size: $normal-text;
}

.active-dot {
  border-radius: 5px;
  height: 5px;
  width: 5px;
  background-color: $secondary-green;
}
