@import '$assets/scss/main.scss';

.success-wrapper {
  height: 100vh;
  width: 100%;
  background-color: $white;
  padding-top: 8rem;
}

.success-dialog-wrapper {
  border: 1px solid $tertiary-gray;
  min-height: 10rem;
  padding: 1rem;
}

.success-message {
  font-family: 'Helvetica Neue';
  font-size: $title;
  font-weight: bold;
}

