@import '$assets/scss/main.scss';


.wrapper {
  @include card;
}

.dragIcon {
  height: 15px;
  width: 15px;
}

.settingsIcon {
  height: 15px;
  width: 15px;
  color: white;
}

.contentWrapper {
  flex: 1;
  padding: 0 2rem;
}

.deleteBtn {
  background-color: $primary-red;
  color: $white;
  border: none;
}

.closeBtn {
  margin: 0 10px;
}

