@import '$assets/scss/main.scss';

.text-input-container {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid $border-gray;
  margin: 8px 0;
  overflow: hidden;
  .text-input-wrapper {
    background-color: transparent;
    padding: 1px 20px;
    width: 100%;
    border: none;
    &:focus {
      outline: none;
    }
  }
}