@import '../../../assets/scss/main.scss';

.phone-mk-image {
  height: 400px;
  margin-right: 2rem;
}

.app-download-wrapper {
  background-color: $white;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

