.withdraw {
    position: fixed;
    top: 100px;
    right: 100px;
    text-align: right;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 768px) {
        top: 100px;
        right: 50px;
    }
}