@import '$assets/scss/main.scss';

.loader {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.theatre {
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;

    video {
        height: 100vh;
        width: 100vw;
    }
}

.back {
    position: fixed;
    display: inline-block;
    top: 20px;
    left: 20px;
    z-index: 999;
    color: white;
}

.controls {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 0  20px;
    color: white;

    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 6%, rgba(0,0,0,1) 100%);

    .range {
        display: flex;
        align-items: center;

        .sliderWrapper {
            position: relative;
            flex: 1;
            height: 18px;

            .bottom {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;
                z-index: 1;

                height: 3px;
                background-color: rgba($color: #fff, $alpha: 0.45);
            }

            .buffered {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);

                // width: 60%;
                z-index: 2;
                
                height: 3px;
                background-color: rgba($color: #fff, $alpha: 0.6);

                transition: all 0.2s ease-in-out;
            }

            .progress {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);

                // width: 45%;
                z-index: 3;

                height: 3px;
                background-color: $primary-color;
            }

            .slider {
                appearance: none;

                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;
                z-index: 4;

                background-color: transparent;
                
                height: 3px;
                outline: none;
                // opacity: 0.7;
                transition: all 0.3s ease-in;
    
                &::-webkit-slider-thumb {
                    appearance: none;
                    
                    width: 18px;
                    height: 18px;
                    background-color: $primary-color;
    
                    cursor: pointer;
                    border-radius: 25px;
                }
            }
        }

        span {
            padding-left: 10px;
            color: white;
        }
    }

    .actions {
        display: flex;
        padding: 15px 0;
        align-items: center;

        .main {
            display: flex;
            flex: 1;
            align-items: center;
        }

        .quality {
            position: relative;

            .menu {
                position: absolute;

                display: flex;
                flex-direction: column;

                bottom: 75px;
                right: 0;

                background-color: rgba($color: #1F2023, $alpha: 0.6);

                div {
                    padding: 15px 20px;
                    width: 180px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba($color: #fff, $alpha: 0.3) !important;
                    }

                    &.active {
                        background-color: rgba($color: #fff, $alpha: 0.6);
                    }
                }
            }
        }
    }

    .volume {
        display: flex;
        margin-left: 10px;
        align-items: center;

        .sliderWrapper {
            position: relative;

            display: none;
            margin-left: 10px;

            flex: 1;
            height: 18px;
            width: 100px;

            .bottom {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;
                z-index: 1;

                height: 3px;
                background-color: rgba($color: #fff, $alpha: 0.45);
            }

            .progress {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);

                // width: 45%;
                z-index: 3;

                height: 3px;
                background-color: $primary-color;
            }

            .slider {
                appearance: none;

                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;
                z-index: 4;

                background-color: transparent;
                
                height: 3px;
                outline: none;
                // opacity: 0.7;
                transition: all 0.3s ease-in;
    
                &::-webkit-slider-thumb {
                    appearance: none;
                    
                    width: 18px;
                    height: 18px;
                    background-color: $primary-color;
    
                    cursor: pointer;
                    border-radius: 25px;
                }
            }
        }

        &:hover {
            .sliderWrapper {
                display: block;
            }
        }
    }
}